
<header>
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Corzo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about"><%=t '.about' %></a></li>
            <li><a href="/help"><%=t '.help' %></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>                                                            
              <li class="active"><a href="admin"><%=t '.admin' %></a></li>
              <li><%= link_to t('.log_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>                                                                       
              <%= link_to t('.sign_up'), new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to t('.log_in'), new_user_session_path, :class => 'navbar-link'  %>        
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</header>

<p class="navbar-text pull-right">                                                  
<% if user_signed_in? %>                                                            
    <%=t '.logged_in' %> <strong><%= current_user.email %></strong>                       
<% end %>
</p>
