
<header>
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">

          <!-- Left -->
          <ul class="nav navbar-nav navbar-left">
            <li>
              <% if notice %>
                <p class=""><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class=""><%= alert %></p>
              <% end %>
            </li>
            <div id="feedback-dialogue">
                <span style="font-size: 0.6em">
                    Sugerencias &  Comentarios
                </span>
                <br>
                <a href="mailto:name@mail.com?subject=corzo%20v0.2alpha%20feedback">
                    name@mail.com
                </a><br>
                <span style="font-size: 0.6em">v0.2alpha</span>
            </div>
          </ul>

          <!-- Right -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>                                                            
              <li class="active"><a href="admin"><%=t '.admin' %></a></li>
              <!-- drop down -->
              <li class="dropdown">
                   <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                       <%= current_user.name %><b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                       <li><%= link_to t('.show_account'), admin_user_path(current_user.id) %></li>
                       <li><%= link_to t('.edit_account'), edit_admin_user_path(current_user.id) %></li>
                   </ul>
              </li>
              <!-- drop down -->
              <li><%= link_to t('.log_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>                                                                       
              <%= link_to t('.sign_up'), new_user_registration_path %> |
              <%= link_to t('.log_in'), new_user_session_path %>        
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</header>
