<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password %><br>
    <%= f.text_field :encrypted_password %>
  </div>
  <div class="field">
    <%= f.label :reset_password_token %><br>
    <%= f.text_field :reset_password_token %>
  </div>
  <div class="field">
    <%= f.label :reset_password_sent_at %><br>
    <%= f.text_field :reset_password_sent_at %>
  </div>
  <div class="field">
    <%= f.label :remember_created_at %><br>
    <%= f.text_field :remember_created_at %>
  </div>
  <div class="field">
    <%= f.label :sign_in_count %><br>
    <%= f.text_field :sign_in_count %>
  </div>
  <div class="field">
    <%= f.label :current_sign_in_at %><br>
    <%= f.text_field :current_sign_in_at %>
  </div>
  <div class="field">
    <%= f.label :last_sign_in_at %><br>
    <%= f.text_field :last_sign_in_at %>
  </div>
  <div class="field">
    <%= f.label :current_sign_in_ip %><br>
    <%= f.text_field :current_sign_in_ip %>
  </div>
  <div class="field">
    <%= f.label :last_sign_in_ip %><br>
    <%= f.text_field :last_sign_in_ip %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.text_field :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
