<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">

<head>
    <meta charset="utf-8">                                                       
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />          

    <title><%= full_title(yield(:title)) %></title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--
      echo $this->Html->charset();                                             
      echo $this->Html->meta('icon');                                           
      echo 'debugAppCache.js' 
    -->

    <script type="text/javascript"                                               
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlGDVvFbD4gIC4l6G-E6bZVQlSi2GTic&sensor=false&libraries=places">
    </script>

    <%= stylesheet_link_tag 'monitor', media: 'all' %>
    <%= javascript_include_tag 'monitor' %>
    <%= csrf_meta_tags %>

</head>

<body>

    <%= render 'layouts/shared/header_monitor' %>

    <div>                                                      
        <div id="map-canvas"></div>                                                                   
    </div> 
    
    <% yield %>

    <!-- map controls -->

    <!-- ssp -->
    <div id="ssp" class="controlDiv">
        <div id="ssp-ui" class="ui">
           <div id="ssp-controls">
               <img src="img/minimize_window16.png">
           </div> 
           <div id="ssp-list"></div> 
        </div>
    </div>                 

    <!-- nsf -->
    <div id="nsf" class="controlDiv">
       <div id="nsf-ui" class="ui">
           <div id="nsf-controls">
               <img src="img/minimize_window16.png">
           </div> 
           <div id="col1" class="nsf-col">
               <label>Servicio No.</label><label id="service-no">0001</label>
               <br>
               <label>10 / Enero / 2013</label>
               <br>
               <label>No. Cliente: </label>
               <select id="select-client">
                   <option value="N/A">N/A</option>
               </select>
               <br>
               <input id="full-name" placeholder="Nombre Completo" size=26>
           </div>
           <div id="col2" class="nsf-col">
               <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
               <input id="select-date" placeholder="Fecha" size=12 type="text">
               &nbsp;
               <input id="select-time" placeholder="Hora" size=10 type="text">
               <br>
               <br>
               <label>A:</label>
               <input id="search-box-a" type="text" placeholder="Origen" size=40>          
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <label id="coords-a">00.000000000000000, 00.000000000000000</label>
               <br>
               <label>B:</label>
               <input id="search-box-b" type="text" placeholder="Destino" size=40>          
               <br>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <label id="coords-b">00.000000000000000, 00.000000000000000</label>
           </div>
           <div id="col3" class="nsf-col">
               <textarea id="comments" placeholder="Referencias y Comentarios" cols=25 rows=4></textarea>
               <br>
               <br>
               <label>$ </label>
               <input id="select-rate" placeholder="00.00" value="" size=24>
               <br>
               <input id="select-driver" placeholder="Conductor" size=26 readonly>
           </div>
           <div id="col4" class="nsf-col">
               <button>Borrar</button>
               <button>Guardar y Copiar</button>
               <button>Guardar</button>
           </div>
       </div> 
    </div>                 

    <!-- context menu -->
    <div id="context-menu">
        <button id="set-a">fijar A</button>
        <br>
        <button id="set-b">fijar B</button>
    </div>

</body>
</html>
