<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
<head>
    <meta charset="utf-8">                                                       

    <title><%= full_title(yield(:title)) %></title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--
      echo $this->Html->charset();                                             
      echo $this->Html->meta('icon');                                           
      echo 'debugAppCache.js' 
    -->

    <%= stylesheet_link_tag 'monitor', media: 'all' %>
    <%= javascript_include_tag 'monitor' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />          
    <script type="text/javascript"                                               
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlGDVvFbD4gIC4l6G-E6bZVQlSi2GTic&sensor=false&libraries=places">
    </script>

    <script type="text/javascript">                                              
                                                                                 
        // Enable the visual refresh                                             
        google.maps.visualRefresh = true;                                        
                                                                                 
        var MAP;                                                                 
                                                                                 
        function initialize() {                                                  
            var mapOptions = {                                                   
                center: new google.maps.LatLng(20.674226, -103.387363),          
                zoom: 15,                                                        
                maxZoom: 18,                                                        
                disableDefaultUI: true,                                          
                mapTypeId: google.maps.MapTypeId.ROADMAP,                        
                zoomControl: true,                                               
                zoomControlOptions: {                                            
                    position: google.maps.ControlPosition.RIGHT_CENTER
                }                                                                
            };                                                                   
                                                                                 
            MAP = new google.maps.Map(document.getElementById('map-canvas'),     
                                      mapOptions);                               
                                                                                 
            /* Delay customizations until the map has loaded */                     
            google.maps.event.addListenerOnce(MAP, 'tilesloaded', function(evt) {

                monitor_ajax.updateTaxiLocationsOnMap(MAP);

                // monitor_ajax.addCustomControls(MAP);                                                          
                                                                                 
                /* Must be called after addCustomControls() */                                   
                addSearchBox(MAP, document.getElementById('searchBoxA'));                             
                addSearchBox(MAP, document.getElementById('searchBoxB'));                             
               
                /* Add scheduled services panel. */ 
                var ssp = monitor_controls.buildScheduledServicesPanel();
                MAP.controls[google.maps.ControlPosition.TOP_RIGHT].push(ssp);
                monitor_ajax.updateScheduledServicesList("div#ssp-list");

                /* Add new service form. */ 
                var nsf = monitor_controls.buildNewServiceForm();
                MAP.controls[google.maps.ControlPosition.TOP_CENTER].push(nsf);
            });                                                                  
        }                                                                        
                                                                                 
        google.maps.event.addDomListener(window, 'load', initialize);            
    </script>  

</head>
<body>

    <%= render 'layouts/shared/header_monitor' %>

    <div>                                                      
        <div id="map-canvas"></div>                                                                   
    </div> 
    
    <% yield %>

    <!-- map controls -->

    <!-- ssp -->
    <div id="ssp" class="controlDiv">
        <div id="ssp-ui" class="ui">
           <div id="ssp-controls">
               <img src="img/minimize_window16.png">
           </div> 
           <div id="ssp-list"></div> 
        </div>
    </div>                 

    <!-- nsf -->
    <div id="nsf" class="controlDiv">
       <div id="nsf-ui" class="ui">
           <div id="nsf-controls">
               <img src="img/minimize_window16.png">
           </div> 
           <div id="col1" class="nsf-col">
               <label>Servicio No.</label><label id="service-no">0001</label>
               <br>
               <label>10 / Enero / 2013</label>
               <br>
               <br>
               <label>No. Cliente</label>
               <select style="width: 100px;">
                   <option value="">N/A</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
               </select>
               <br>
               <input value="nombre completo" size=26>
           </div>
           <div id="col2" class="nsf-col">
               <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
               <input id="select-date" value="fecha" size=12 type="text">
               <input id="select-time" value="hora" size=10 type="text">
               <br>
               <br>
               <label>A:</label>
               <input id="searchBoxA" type="text" placeholder="Origen" size=40>          
               <br>
               <label>B:</label>
               <input id="searchBoxB" type="text" placeholder="Destino" size=40>          
               <br>
               <label>A:</label>
               <input value="-32.186299" size=12 style="background-color: lightgray;" readonly>
               <label>B:</label>
               <input value="-132.129303" size=12 style="background-color: lightgray;" readonly>
           </div>
           <div id="col3" class="nsf-col">
               <textarea cols=25 rows=3 style="resize: none; border: solid 1px lightgray">referencias o comentarios</textarea>
               <br>
               <br>
               <input id="select-rate" value="tarifa $0.00" size=26>
               <br>
               <input value="conductor asignado" size=26>
           </div>
           <div id="col4" class="nsf-col">
               <button>Borrar</button>
               <button>Guardar y Copiar</button>
               <button>Guardar</button>
           </div>
       </div> 
    </div>                 

    <script type="text/javascript">                                              
        $( "#select-date" ).datepicker({ option: $.datepicker.regional[ "es" ],
                                         minDate: "-0D", 
                                         maxDate: "+1M"});
        $( "#select-time" ).timepicker({ scrollDefaultNow: true,
                                         scrollDefaultTime: true,
                                         step: 15,
                                         timeFormat: "h:i A"})
                           .click(function() {
                                this.select();
                            });
        $( "#select-rate" ).click(function() {
                                this.select();
                            });
    </script>

</body>
</html>
    </script>

</body>
</html>
